
/*Variables -- Dark Theme*/
html {
    /*NAV BAR Variables*/
    --navbar-bg: #000000;

    /*SIDEBAR Variables*/
    --sidebar-bg: #121212;
    --sb-text-heading: #BB86FC;
    --sb-text-color: #ffffff;
    --sb-accents: #BB86FC;
    --sb-active: #000000;
    /*Body Content Variables*/
    --body-bg: #000000;
    --body-section: #0c0c0c;
    --body-text: #ffffff;
    --body-accents: #BB86FC;

    /*Button Variables*/
    --button-bg: #7E57C2;
    --button-text: #ffffff;
    --button-hover: #4527A0;

    /*Table Glossary*/
    --glossary-bg: #0c0c0c;
    --glossary-text: #000000;
    --glossary-accent: #4527A0;

    /*Footer*/
    --footer-bg: #000000;
    --footer-text: #ffffff;
}

/************************Top Nav Bar************************/

/*edit, save for later, watch, share buttons*/

#header .aui-header {
    background-color: var(--navbar-bg)
}

.acs-side-bar-space-info a {
    color: var(--sb-text-color)
}
/*
.aui-button-subtle.aui-button {
    background-color: var(--button-bg);
    border-color: transparent;
    color: var(--button-text);
    font-weight: 400;
}

.aui-button-subtle.aui-button:hover {
    background-color: var(--button-hover);
    color: var(--button-text)
}
*/

#main #main-header.overlay-header {
   /* border-bottom: 2px solid #1f1f1f;*/
    background-color: var(--body-bg);
}
/************************#main background************************/

/*Hide Page Meta Data ul */
.page-metadata ul {
    display: none;
}

#main.aui-page-panel {
    border-top: 0;
    background-color: var(--body-bg);
    opacity: 94%;
}

/************************Banner, Search, Featured Content, Quick View Diagrams (tabs)************************/

#marketo-banner {
    background-color: var(--body-section);
    opacity: 100%;
    padding: 20px 10px 5px 10px;
}

#banner-search {
    background-color: var(--body-section);
    opacity: 100%;
    padding: 5px 10px 20px 10px;
}

#com-atlassian-confluence .aui-dd-parent .aui-dropdown {
    background-color: var(--body-bg);
}

.search-macro .search-macro-dropdown li a {
    color: var(--body-text)
}

#featured-content {
    background-color: var(--body-section);
    opacity: 100%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

#body-diagram-tabs {
    background-color: var(--body-section);
    opacity: 100%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

#tableGlossary {
    background-color: var(--body-section);
    opacity: 100%;
    padding: 10px 10px 10px 10px;
    margin-bottom: 20px;
}

#title-text a {
    color: var(--body-text);
    opacity: 88%;
}

p {
    color: var(--body-text);
    opacity: 88%;
}

/************************Sidebar************************/

.acs-side-bar-space-info .avatar-img-container .avatar-img-wrapper img.avatar-img, #image-holder .small-logo-wrapper img {
    max-width: 48px;
    max-height: 48px;
    display: block;
    border: 0;
    margin: auto;
    background-color: unset;
}

.acs-side-bar {
    background-color: var(--sidebar-bg)
}

/*Space Favorite Icon */
.space-favourite {
    position: absolute;
    right: 10px;
    top: 31px;
    background-color: transparent;
    color: var(--sb-accents);
    cursor: pointer;
}

/*Sidebar Text*/

.acs-nav-sections .ia-quick-links-header-title, .acs-nav-sections .quick-links-header h5, .ia-quick-links-header-title {
    display: inline-block;
    padding: 0 10px;
    margin-left: 0;
    color: var(--sb-text-heading);
}

div.ia-secondary-header h5 {
    color: var(--sb-text-heading)
}

.acs-side-bar .tip {
    line-height: 20px;
    font-size: 12px;
    padding: 0 10px 10px;
    color: var(--sb-text-color);
    opacity: 89%;
}

div.plugin_pagetree .plugin_pagetree_childtoggle_container>.aui-icon {
    color: var(--sb-accents);
}

div.plugin_pagetree_childtoggle_container>.no-children.icon {
    position: absolute;
    height: 4px;
    width: 4px;
    left: 6px;
    top: 50%;
    margin-top: -5px;
    min-width: 0;
    border-radius: 2px;
    background-color: var(--sb-accents);
}

/**/
.acs-nav-list .acs-nav-item-label {
    color: var(--sb-text-color);
    opacity: 89%;
}


.acs-side-bar .current-item .acs-nav-item-link {
    background-color: var(--sb-active);
}


li.acs-nav-item .acs-nav-item-link:hover {
    background-color: var(--navbar-bg);
}


.acs-side-bar .tip {
    color: var(--sb-text-heading);
}

.ia-secondary-container a {
    color: var(--sb-text-color);
    opacity: 89%;
}


/*Space Tools*/

.space-tools-section {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--navbar-bg);
/*    border-color: #121212 */
}

.aui-button .aui-icon {
    color: var(--button-text);
}

.aui-button-label {
    margin-left: 4px;
    color: var(--button-text);
    font-weight: 600;
}

.aui-button:hover {
    background-color: var(--button-hover);
}

.expand-collapse-trigger {
    position: absolute;
    top: 14px;
    right: 32px;
    color: var(--sb-text-color);
}

.aui-dropdown2.aui-style-default {
    background: var(--navbar-bg);
    border: 0 solid #dfe1e6;
    border-radius: 3px;
    color: var(--sb-text-color);
    padding: 3px 0;
}


.aui-dropdown2.aui-style-default [role="menuitem"] {
    color: var(--sb-text-color)
}



/******Button Group Buttons******/
.aui-button.aui-button-primary, .aui-button.aui-button-primary:visited {
    background-image: none;
    background-color: var(--button-bg);
    color: var(--button-text);
    opacity: 100%;
    font-weight: 600;
}

.aui-button.aui-button-primary:hover {
	background-color: var(--button-hover)
}

/* Create from Template buttons */
#main-content a.create-from-template-button {
	color: var(--button-text);
	background-color: var(--button-bg);
    opacity: 100%;
	font-weight: 600
}


#main-content a.create-from-template-button:hover {
	background-color: var(--button-hover)
}

hr {
	border: none;
	border-bottom: 2px solid var(--body-accents);
}

.wiki-content h5 {
	color: var(--body-text)
}





/******Table Glossary******/

/*expand icon color*/
/*
.expand-control-icon {
   color: #d9d9d9
}
*/
/*expand text color*/
/*
.expand-control-text {
   color: #d9d9d9;
   font-weight: 600;
}
*/

/*Tab Text*/

/*active tab*/
.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a, .aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:link, .aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:visited, .aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:focus, .aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:hover, .aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a:active {
   color: var(--body-accents);
}

.aui-tabs.horizontal-tabs>.tabs-menu>.menu-item.active-tab a::after {
   background: var(--body-accents)
}
/*passive tabs*/
.aui-tabs>.tabs-menu .menu-item a, .aui-tabs>.tabs-menu .menu-item a:link, .aui-tabs>.tabs-menu .menu-item a:visited {
   color: var(--body-text)
}

.aui-tabs.horizontal-tabs>.tabs-menu::after {
   background: var(--body-text)
}

/*Table Description body*/

.expand-container .expand-content {
    background-color: var(--body-bg) !important;
}
/*
.expand-container expand-hidden {
background-color: #1f1f1f;
}
*/
.tabs-pane p>span {
    color: var(--body-text) !important
}

div.localtabs-macro div.tabs-pane.active-pane {
    padding-top: 10px;
    padding-bottom: 15px;
    background-color: var(--glossary-bg);
}

p strong>span {
    color: var(--glossary-text) !important;
}

.wiki-content ul {
color: var(--glossary-accent)
}


.wiki-content p {
    color: var(--glossary-text);
}

/******Footer******/

#footer {
background-color: var(--footer-bg);
color: var(--footer-text);
}

#footer-logo {
background-color: var(--footer-logo)
}

a#lim-feedback-trigger {
    color: var(--footer-text) !important;
    background-color: var(--footer-bg);
    border: none;
}
